<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>   {% block title %} Base title {% endblock title %} </title>
    <link rel = "stylesheet" href = "{% static 'core/css/all.min.css' %}">
    <link rel = "stylesheet" href = "{% static 'core/css/bootstrap.min.css' %}">

    {% block corecss %}
    <link rel = "stylesheet" href = "{% static '/core/css/core.css' %}">
    {% endblock corecss %}

</head>
<body>
    <nav class = "navbar navbar-expand-lg navbar-light bg-dark">
        <div class = "container-fluid">
            <a class = "navbar-brand text-warning" href = "{% url 'home' %}"> Service Provider</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse" id = "navbarNavAltMarkup">
                <div class = "navbar-nav">
                    <a class="nav-link active text-warning" aria-current="page" href="{% url 'home' %}">Home</a>
              <a class="nav-link text-warning" href="{% url 'emplogin' %}">Emp Login</a>
              <a class="nav-link text-warning" href="{% url 'admin_login' %}">Admin</a>
              
            </div>
          </div>
        </div>
      </nav>


      {% comment %} <div class = "container mt-3 "> {% endcomment %}


        <script src = "{% static 'core/js/jquery.js' %}"></script>
        <script src = "{% static 'core/js/bootstrap.js' %}"></script>
        <script src = "{% static 'core/js/all.min.js' %}"></script>
        <script src = "{% static 'core/js/popper.js' %}"></script>

    </body>
</html>
</body>
</html>